main {
  height: auto;
}
main section {
  height: auto;
  margin-top: 15px;
  padding: 15px 0 0 0;
}
main section div article p {
  text-align: justify;
  margin: 15px;
}
main section div {
  text-align: center;
  margin-top: 20px;
  height: auto;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: titule;
  src: url("../assets/Fonts/winterbeauty-Script.otf");
}
body {
  background-color: whitesmoke;
  height: auto;
}

header {
  margin: 15px 0 15px 0;
  height: auto;
}

/* MAIN */
/* FOOTER */
footer {
  height: auto;
}

.grad {
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(yellow));
  background-image: linear-gradient(to right, red, yellow);
}

.tit {
  font-family: titule;
  font-size: 2em;
}

.radio {
  border-radius: 15px;
}

.back {
  background-color: rgba(173, 164, 41, 0.444);
}

.bot {
  -webkit-perspective: 2500;
          perspective: 2500;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.bot:hover {
  font-size: 1.5em;
}

#suti2venta {
    background-color: bisque;
}